$font-family: "Open Sans";

$color-primary: rgb(43, 152, 19);
$color-secondary: rgb(198, 21, 189);

$btn-primary-bg: $color-primary;
$btn-primary-color: #fff;

$btn-secondary-bg: $color-secondary;
$btn-secondary-color: #fff;